/* Hide the default cursor */
body {
    cursor: default;
    
  }
  
  /* Outer circle */
  .custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 20px; /* Outer circle size */
    height: 20px;
    border: 1px solid cyan; /* Outer circle in cyan */
    border-radius: 50%;
    /* Ensure it's not interactive */
    /* pointer-events: none;  */
    transform: translate(-50%, -50%);
    z-index: 1000;
    transition: transform 0.12s ease; /* Smooth lagging */
  }
  
  .custom-cursor::after {
    content: '';
    position: fixed;
    top: calc(50% + var(--dot-offset-y, 200px)); /* Move vertically */
    left: calc(50% + var(--dot-offset-x, 200px)); /* Move horizontally */
    width: 6px; /* Small dot size */
    height: 6px;
    background-color: cyan;
    /* background: radial-gradient(circle, rgba(0, 255, 255, 1) 0%, rgba(193, 123, 233, 0.8) 100%); Gradient dot Inner dot color */
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-in; /* Smooth motion */
  }
  
  
  