/* THEME - DARK BLUE background, Green Glowing Text, Cyan cursor, boundaries design glow etc... , Orange Glow Links... , Pink for texts.... */

.text-white {
   /* Soft teal-cyan text for readability */
   /* color: #a3f7ff !important;  */
   color: #05eb1c !important;
}

h1,
h5 {
   /* Neon cyan glow */
   /* text-shadow: 0px 2px 15px rgba(145, 247, 115, 0.6); */
   text-shadow: 0px 2px 15px rgba(48, 142, 235, 0.6);
}

.text-pink {
   color: palevioletred !important;
}

/* p {
   text-shadow: 0px 2px 15px rgba(250, 10, 202, 0.6);
} */

a {
   text-shadow: 0px 2px 15px rgba(250, 134, 10, 0.6);
}

/* Neon Gradient Background CSS*/
@keyframes gradient-x {
   0% {
      background-position: 0% 50%;
   }
   50% {
      background-position: 100% 50%;
   }
   100% {
      background-position: 0% 50%;
   }
}

.animate-gradient-x {
   background-size: 300% 300%;
   animation: gradient-x 4s linear infinite;
}

.text-outline-black {
   text-shadow: 1px 1px 2px black, -1px -1px 2px black, 1px -1px 2px black,
      -1px 1px 2px black;
}
